* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.main-scroll-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover {
    position: relative;
    width: 90%;
    height: 50%;
}

.cover::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, black, transparent);
}

.cover::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, black, transparent);
}

.scroll-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.child {
    min-width: 600px;
    height: 450px;
    margin: 1px 10px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
}

.scroll-image::-webkit-scrollbar {
    -webkit-appearance: none;
}

.child-img {
    width: 100%;
    height: 100%;
}

.icon {
    color: rgba(69, 175, 69, 0.274);
    background-color: black;
    font-size: 50px;
    outline: none;
    border: none;
    padding: 0px 20px !important;
    cursor: pointer;
}

.icon:hover {
    color: yellow;
}